<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2000"/>
    </connectionManagement>
  </system.net>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <appSettings>
    <add key="CicServer" value="servername"/>
    <add key="CicUseWindowsAuth" value="false"/>
    <add key="CicUser" value="username"/>
    <add key="CicPassword" value="password"/>
    <add key="QueueList" value="sales|support|marketing"/>
    <add key="EnableCommands" value="true"/>
  </appSettings>
</configuration>